.specials{
    float: right;
    width: 30%;
    padding: 10px;
    height: auto;
    border: 1px solid cadetblue;
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 10px;
    display: inline-block;
    text-align: center;
}

.specials:hover{
    color: brown;
}

.normal{
    float:left;
    width: 70%;
    padding: 10px;
    height: 500px;
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 10px;
    display: inline-block;
}

h1{
    color: #007e7e;
    font-size: 150%;
}

h2{
    color: #007e7e;
    font-size: 130%;
}

.footer{
    display: block;
    clear: both;
    font-family: Verdana;
    color: #007e7e;
    font-size: small;
    width: 70%;
    height: 100px;
    margin-top: 40px;
}

header{
    display: block;
}

.guarantee{
    background-color: #a7cece;
    marge: 30px;
    padding: 20px;
    color: #444444;
    border: dotted white;

}

.speciaal {
    color: black;
}
